.number-col {
  font-variant-numeric: tabular-nums;
  text-align: right;
}

.header-row {
  background: navy;
  color: white;
}

.shade {
  background-color: lightgray;
}

[contenteditable] {
  border: 1px skyblue dashed;
  padding: 0.3em;
}

[contenteditable]:hover {
  border: 1px cornflowerblue solid;
}

[contenteditable]:focus {
  border: 2px coral solid;
  background: #efefef;
}

.inv-btn {
  margin: 0.5em;
}

.work-item-row:nth-child(odd) {
  background: lightgray;
}

.grand-total-row {
  padding: 0.5em 0;
  background: navy;
  font-weight: bold;
  font-size: larger;
  color: white;
}

.delete-button {
  color: red;
}
